In [1]:
import pandas as pd
from glob import glob
import pandas as pd
import numpy as np
import re
import time
import requests
import numpy as np
import pandas as pd
from itertools import chain
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from textblob import TextBlob
from gensim.models import word2vec
from scipy.cluster.hierarchy import ward, dendrogram

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans, AgglomerativeClustering
import nltk
from nltk.corpus import stopwords, wordnet
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
#nltk.download('popular', halt_on_error=False)
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn import metrics
#textblob
from textblob import TextBlob, Word
from sklearn.metrics import silhouette_score

from utils1 import Cleaner,Super_list
# Import Counter
from collections import Counter
import string

In [5]:
#putting all 7 dfs into one list and dropping rows where all values are NA
allFiles =glob("gr*.csv")
ls=[]
frame = pd.DataFrame()
for i in allFiles:
    ls.append(pd.read_csv(i,index_col=None))
full=pd.concat(ls,sort=True)# concating all dataframe
full.head()

,# of Bubbles,# of Obj in Category,# of Photos,# of Reviewer's Positive Reviews,# of Reviewer's Reviews,# of Reviews,Avg Review Score,BUB,Bubble Dsitibution,DestID,...,Review via,Reviewer Location,Reviewer Name,Room Tip,Trip Type,Unnamed: 0,Visit Date,cleaned,corrected,languages
0,4.0,34,4,28,214,1,4,POS,"['0', '1', '0', '0', '0']",d10026996,...,Issue,"Beirut, Lebanon",Walid I,Issue,Issue,8.0,Date of visit: August 2016,nice restaurant feel rest good welcome europea...,[],en
1,5.0,Issue,15,3,4,9,4.5,POS,"['7', '0', '2', '0', '0']",d10029890,...,via mobile,"Yerevan, Armenia",Ashot G,Issue,Issue,9.0,Date of visit: February 2016,friend amaze cousin shisha.the seisha best lot...,"[('shisha', 'seisha')]",en
2,5.0,Issue,15,Issue,21,9,4.5,POS,"['7', '0', '2', '0', '0']",d10029890,...,via mobile,"Yerevan, Armenia",Kinzey1990,Issue,Issue,10.0,Date of visit: May 2016,thank gevorg make best shisha yerevan.the plac...,"[('shisha', 'seisha')]",en
3,5.0,Issue,15,3,4,9,4.5,POS,"['7', '0', '2', '0', '0']",d10029890,...,via mobile,Issue,Ashot G,Issue,Issue,11.0,Date of visit: June 2016,best place armenia try armenian best win smoke...,"[('shisha', 'seisha'), ('2end', 'end')]",en
4,5.0,Issue,15,2,5,9,4.5,POS,"['7', '0', '2', '0', '0']",d10029890,...,via mobile,"Dubai, United Arab Emirates",Paulis J,Issue,Issue,13.0,Date of visit: January 2017,girl ararat hotel advise place birthday party ...,"[('couse', 'house'), ('alco', 'also')]",en

In [10]:
full.drop("Unnamed: 0",inplace=True,axis=1)

In [11]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38457 entries, 0 to 1528
Data columns (total 37 columns):
# of Bubbles                        38456 non-null float64
# of Obj in Category                38457 non-null object
# of Photos                         38457 non-null object
# of Reviewer's Positive Reviews    38457 non-null object
# of Reviewer's Reviews             38457 non-null object
# of Reviews                        38457 non-null object
Avg Review Score                    38457 non-null object
BUB                                 38457 non-null object
Bubble Dsitibution                  38457 non-null object
DestID                              38457 non-null object
DestType                            38457 non-null object
ID                                  38457 non-null int64
Language Distribution               38457 non-null object
Link                                38457 non-null object
Location                            38457 non-null object
Location 2                          38457 non-null object
Obj Address                         38457 non-null object
Obj Certificate                     38457 non-null object
Obj Details                         38457 non-null object
Obj Rank                            38457 non-null object
Object Features Bubbles             38457 non-null object
Phone number                        38457 non-null object
Ranking Category                    38457 non-null object
RevID                               38457 non-null object
Review Category                     38457 non-null object
Review Content                      38457 non-null object
Review Date                         38457 non-null object
Review Title                        38454 non-null object
Review via                          38457 non-null object
Reviewer Location                   38457 non-null object
Reviewer Name                       38457 non-null object
Room Tip                            38457 non-null object
Trip Type                           38457 non-null object
Visit Date                          37463 non-null object
cleaned                             38457 non-null object
corrected                           38457 non-null object
languages                           38457 non-null object
dtypes: float64(1), int64(1), object(35)
memory usage: 12.4+ MB

In [13]:
full.to_csv("Cleaned.csv")

In [14]:
len

0                                                      []
1                                  [('shisha', 'seisha')]
2                                  [('shisha', 'seisha')]
3                 [('shisha', 'seisha'), ('2end', 'end')]
4                  [('couse', 'house'), ('alco', 'also')]
5                                                      []
6                                                      []
7       [("'ve", 'eve'), ('doesnt', 'does'), ("'s", 'i...
8                                          [("'s", 'is')]
9                               [('martiros', 'martyrs')]
10                                         [("'s", 'is')]
11      [("'s", 'is'), ("'ve", 'eve'), ("'ve", 'eve'),...
12                                       [("'ve", 'eve')]
13                                                     []
14              [("'s", 'is'), ("'d", 'd'), ("'s", 'is')]
15                                                     []
16      [('armosphere', 'atmosphere'), ('veeeery', 've...
17                                         [("'s", 'is')]
18                                                     []
19                                                     []
20                                                     []
21                                        [('2pm', 'pm')]
22                                                     []
23                                                     []
24                        [('afterlunch', 'after-lunch')]
25                                         [("'s", 'is')]
26                                                     []
27      [("'s", 'is'), ('dolma', 'dogma'), ('waitre', ...
28                                                     []
29                                                     []
                              ...
1499    [("'s", 'is'), ('wifi', 'wife'), ('hotdogs', '...
1500       [("'s", 'is'), ("'re", 'are'), ("'ll", 'all')]
1501            [('staf', 'staff'), ('uncosy', 'uneasy')]
1502    [('here2', 'here'), ('oclock', "o'clock"), ('1...
1503                                       [('1o', 'to')]
1504                                                   []
1505                                     [('bbq', 'bbc')]
1506                                       [('1o', 'to')]
1507        [("'s", 'is'), ('vey', 'very'), ("'s", 'is')]
1508    [("'ll", 'all'), ("'m", 'mm'), ("'ll", 'all'),...
1509                                                   []
1510                       [('grilfriend', 'girlfriend')]
1511         [("'s", 'is'), ("'s", 'is'), ("'ve", 'eve')]
1512    [('website', 'webster'), ('5ooo', 'ooo'), ('4o...
1513                                       [('1o', 'to')]
1514           [('good.we', 'goodbye'), ('wifi', 'wife')]
1515    [('matresses', 'mattresses'), ('matresses', 'm...
1516                                 [('hobos', 'hobbs')]
1517    [('ekm', 'erm'), ('5min', 'min'), ('exctrement...
1518                             [('website', 'webster')]
1519    [('doesnt', 'does'), ('aircooler', 'air-cooled...
1520                                      [('erd', 'er')]
1521                                                   []
1522    [('sharing.i', 'sharing'), ('listining', 'list...
1523    [('morning.no', 'mornington'), ('5o', 'to'), (...
1524                                                   []
1525                                                   []
1526                                                   []
1527    [('fotos', 'foots'), ('fotos', 'foots'), ('moj...
1528               [('odor', 'door'), ('15-2o', '1572.')]
Name: corrected, Length: 38457, dtype: object